* {
    margin: 0;
    padding: 0;
}

.left {
    font-size: 1.5rem;
}

body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: rgb(18, 18, 62);
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 30px;
}

nav ul li a {
    text-decoration: none;
    color: white;

}

nav ul li a:hover {
    color: rgb(152, 152, 234);
    font-size: 1.02rem;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 80px 0;
}

.firstSection>div {
    width: 30%;

}

.leftSection {
    font-size: 2.5rem;


}

.rightSection img {
    width: 80%;
    margin: 50px 0;
}

.purple {
    color: rgb(177, 144, 208);
}
.text-gray{
    color: gray;
}

#element {
    color: rgb(177, 144, 208)
}

.secondSection {
    margin: auto;
    max-width: 80vw;
}
.secondSection h1{
    font-size: 1.9rem;
}